---
# Functions and routines associated with Enasis Network Orchestrations.

# This file is part of Enasis Network software eco-system. Distribution
# is permitted, for more information consult the project license file.






- name: Construct the certificate from request
  # noqa: command-instead-of-shell

  ansible.builtin.shell: >-
    {%- if ansible_check_mode -%}
    /bin/true
    {%- else -%}
    {{-   item.command -}}
    {%- endif -%}

  args:
    creates: '{{ item.creates }}'
    chdir: '{{ _sslmy_certfiles }}'

  loop:

    - creates: '{{ _sslmy_thumb }}'
      command: >-
        {% set thumb = _sslmy_thumb %}
        {{ sslca_openssl }} x509
        -in {{ _sslmy_mycert }}
        -fingerprint
        -noout
        | awk -F'=' '{print $2}'
        | sed 's/://g' > {{ thumb }}

    - creates: '{{ _sslmy_rsakey }}'
      command: >-
        {{ sslca_openssl }} rsa
        -in {{ _sslmy_mykey }}
        -passin pass:''
        -out {{ _sslmy_rsakey }}
    - creates: '{{ _sslmy_rsapub }}'
      command: >-
        {{ sslca_openssl }} rsa
        -in {{ _sslmy_rsakey }}
        -pubout
        -out {{ _sslmy_rsapub }}

    - creates: '{{ _sslmy_pkcs12 }}'
      command: >-
        {{ sslca_openssl }} pkcs12
        -export
        -out {{ _sslmy_pkcs12 }}
        -inkey {{ _sslmy_rsakey }}
        -in {{ _sslmy_mycert }}
        -chain
        -CAfile {{ _sslca_chain }}
        -CSP "Microsoft RSA SChannel Cryptographic Provider"
        -passout pass:""
      when: '{{ "pkcs12" in _sslmy_extras }}'

  loop_control:
    label: '{{ item.creates | basename }}'

  delegate_to: localhost
  check_mode: false

  when: item.when | default(true) | bool

  tags: always
